
__pycache__/
*.py[cod]
*$py.class

bmo_brain/
SurfaceGTFS/
model/
SurfaceGTFS.zip
*.zip
bmo_stable_env
forcetrain.py
intent_checker.py
debuggerpy.py
snips_trainer.py
.onnx
en_US-lessac-medium.onnx
model/
vosk-model-*/
voice.py
token.json
.env
venv/
env/
.wav

.DS_Store
*.swp
credentials.json